@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-brand-dark text-white antialiased;
  min-height: 100vh;
}

.mask-gradient-horizontal {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}